.App {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  
}

*{
  box-sizing: border-box;
}

html,
body,
.App,
#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
}

.eachMember{
  margin-left: 10%;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(247, 96, 119);
  width: 20%;
  /* height: 10%; */
  border-radius: 10px;
  box-shadow: 5px 10px lightgray;
 
}


h1 {
  font-size: 3rem;
  text-shadow: 2px 2px lightpink;
}

input{
  width: 10%;
  height: 10%;
  padding: .3%;
  margin-right: 2%;
  border-radius: 4px;
  border: 1px solid salmon;
 }

 label{
   font-weight: bold;
 }

 button{
   width: 7%;
   padding: .5%;
   border-radius: 5px;
   font-weight: bold;
   background-color:rgb(247, 96, 119);
   font-size: .8rem;
 }

 /* button:active {
   outline: none;
 } */

 .listedMembers{
   display: flex;
   flex-flow: wrap;
 }